*,
:after,
:before {
  border: 1px rgb(19, 19, 19);
  box-sizing: border-box;
}

body {
  height: 1px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header & Footer */
[am-Header],
[am-Footer] {
  border: 1px rgb(19, 19, 19) solid;
  text-align: center;
}

[am-Header] {
  min-height: 5vh !important;
}

[am-Footer] {
  min-height: 8vh !important;
  /* position: absolute;
  bottom: 0; */
}

[am-Main] {
  height: 100%;
  display: flex;
  padding: 0;
  background-color: rgba(240, 248, 255);
}

[am-Profile] {
  border-top: 1px aliceblue solid;
  min-height: 14vh !important;
  padding-top: 0.5rem;
  bottom: 0;
}

[am-MenuText] {
  padding-bottom: 1rem;
  margin-bottom: 0;
  margin-right: auto;
  color: #fff;
  text-decoration: none;
}

[am-Content] {
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
  width: 95%;
  border-radius: 10px;
  margin-bottom: 20px; 
}

[am-Menu] {
  position: relative;
}
[am-TallBlock], [am-Menu] {
  border: 2px solid #2f2f2f;
  border-radius: 10px;
  margin: 5px;
  padding: 20px;
  background-color: #f5f5f5;
}

[am-TallBlock="image"] img {
  width: 100%;
  border-radius: 10px;
  max-height: 350px;
}

[am-TallBlock="text"] h2,
 [am-Menu] h2 {
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #1c1c1c;
}

[am-TallBlock="text"] h2{
  margin-bottom: 10px;
}

[am-Menu] h2{
  text-align: center;
  line-height: 1px;
  margin-top: 0;
  margin-bottom: 0;
}

[am-TallBlock="text"] p {
  font-family: 'Arial', sans-serif;
  font-size: 1rem;
  color: #333333;
  line-height: 1.5;
}

[am-Search] {
  max-width: 300px; /* Adjust this value to control search bar width. */
}

[am-Logo] {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  padding: 5px;
  display: inline-block;
  align-self: center;
  box-sizing: content-box;
}

.navbar .form-control {
  border-radius: 20px;
}

.navbar .btn {
  border-radius: 20px;
}

@media (max-width: 575px) {

  [am-MenuText] i {
    font-size: 1.5rem; 
  }
}